
@import '../index.scss';

div.about-container {
    background: $bg2-color;
    width: 100%;
    overflow: hidden;
    
    div.svg-container {
        position: relative;
        display: flex;
        justify-content: center;
        background-position: center;
        top: 500px;
        height: auto;
        background-color: $bg2-color;
        

        svg.mountains {
            bottom: 0;
            position: absolute;
            z-index: 0;
        }
    }

    .dottedfade {
        display: none;
    }

    .line {
       display: none;
    }
    .saturn {
        position: absolute;
        top: 1100px;
        right: 0;
        z-index: 0;
    }

    .wrapper {
        padding: 100px 1em;
        width: 100%;
        margin: auto;
        height: 100%;
        color: $font-white;

        .left-content {
            div.francisbeam {
                svg.groupdotted {
                    position: absolute;
                    top: 740px;
                    left: -10px;
                }

                svg.rocket {
                    position: absolute;
                    top: 1020px;
                    left: -27px;
                    z-index: 2;

                }
                div.border{
                    position: absolute;
                    background: url('../../public/assets/francisbeamsantander.jpg');
                    width: inherit;
                    background-repeat: no-repeat;
                    height: inherit;
                    display: block;
                    background-size: cover;
                    z-index: 1;
                    margin-left: -20px;
                    margin-top: -24px;
                }
                margin-left: 40px;
                width: 300px;
                height: 300px;
                display: block;
                border: 2px solid white;
              }
        }
        

        .right-content {
            padding-top: 40px;
            z-index: 4;
            h1 {
                padding-top: 20px;
                padding-bottom: 10px;
                margin-bottom: 60px;
                font-weight: 900;
                position: relative;
                display: inline-block;
            }
            h1::before {
                display: block;
                background: #DDDDDD;
                position: absolute;
                content: "";
                width: 100%;
                bottom: 0;
                height: 4px;
                border-radius: 2px;
                
            }
            h1::after {
                border-radius: 2px;
                display: block;
                position: absolute;
                content: "";
                width: 50px;
                bottom: 0;
                height: 4px;
                background-color: $line-color;
            }

            p {
                padding-bottom: 2em;
                font-size: 14px;
                line-height: 24px;
            }
            div.skills-tech {
                padding-top: 24px;
                z-index: 14;
                ul.skill-items {
                    padding-top: 16px;
                    display: flex;
                    z-index: 10;
                    align-items: center;
                    li {
                        z-index: 4;
                        list-style: none;
                    }
                    li img {
                        max-width: 80%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    div.about-container {
        .dottedfade {
            display: block;
            position: absolute;
            right: 0;
            top: 740px;
        }
    
        .line {
            display: block;
            position: absolute;
            top: 980px;
            right: 0;
        }

        div.svg-container {
            top: 515px;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            .left-content {
                padding-top: 120px;
                .francisbeam {
                    svg.groupdotted {
                        position: absolute;
                        top: 1490px;
                        left: -10px;
                    }
                    svg.rocket {
                        position: absolute;
                        top: 640px;
                        left: -27px;
                        z-index: 2;
    
                    }
                }
            }
    
            .right-content {
                padding-top: 0px;
        
                h1 {
                    padding-top: 0px;
                    
                }
            }

        }
    }
}

@media screen and (min-width: 1200px) {
    div.about-container {
        .wrapper {
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
            .left-content {
                padding-top: 120px;
                
                div.francisbeam {
                    justify-content: start;
                    display: flex;
                    svg.rocket {
                        top: 600px;
                    }

                    svg.groupdotted {
                        top: 310px;
                    }
                    
                    img {
                        margin: unset;
                        width: 450px;
                    }
                  }
            }
            .right-content {
                padding-top: 0px;
                padding-bottom: 0px;
                
                p{
                    width: 500px;
                }
            }
        }
    }
}