
@import '../index';


nav.navbar-hidden {
    transform: translateY(-100%);
  }

nav.navbar-container {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 10px rgba(85, 85, 85, 0.144);
    border-bottom: 1px solid rgba(85, 85, 85, 0.342);
    backdrop-filter: blur(10px);
    transition: transform 150ms ease-in-out;
    z-index: 999;

    div.wrapper {
        padding: 1em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-icon {
            cursor: pointer;
            z-index: 999;
        }

        ul.nav-items.active {
            left: 0;
        }

        ul.nav-items {
            background: #202020;
            position: absolute;
            width: 100%;
            line-height: 80px;
            height: 900px;
            top: 0;
            justify-content: center;
            text-align: center;
            left: -100%;
            transition:  ease-in-out .3s;
            padding-top: 80px;

            li.nav-item {
                a.nav-link {
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    text-decoration: none;
                    list-style: none;
                    color: $font-white;
                    display: flex;
                    transition: all 0.3s;
                }
                a.nav-link:hover {
                    background-color: $primary-color;
                    font-weight: bold;
                    
                }
            }
            li {
                a#btn-resume {
                    text-decoration: none;
                    gap: 4px;
                    list-style: none;
                    display: inline-flex;
                    align-items: center ;
                    color: $font-white;
                    padding: 0 2em;
                    height: 60px;
                    background: $primary-color;
                }
                a#btn-resume:hover {
                    background: #341881;
                    transition: ease-in-out 0.3s;
                }
            }

            li.nav-item:nth-child(1) {
                animation-delay: 400ms;
            }
            li.nav-item:nth-child(2) {
                animation-delay: 500ms;
            }
            li.nav-item:nth-child(3) {
                animation-delay: 600ms;
            }
            li.nav-item:nth-child(4) {
                animation-delay: 700ms;
            }
            li.nav-item:nth-child(5) {
                animation-delay: 800ms;
            }
            li.nav-item:nth-child(6) {
                animation-delay: 900ms;
            }
        }

        div.cv-container {
            display: none;
            li.nav-item{
                animation-delay: 900ms;
            }
        }

        div.cv-container.active.navbar-hidden {
            transform: translateY(-100%);
        }
    }
}


@media screen and (min-width: 1200px) {
    nav.navbar-container {
        z-index: 999;

        div.wrapper {
            align-items: center;
            padding: 1em 1em;
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            div.menu-icon {
                display: none;
            }
             
            ul.nav-items {
                position: unset;
                height: 0px;
                background: none;
                display: flex;
                gap: 60px;
                padding: 0px;

                li.nav-item {
                    align-items: center;
                    display: flex;
                    list-style: none;
                    text-decoration: none;
                    a.nav-link {
                        color: $primary-color;
                    }
                    a.nav-link:hover {
                        color: $primary-color;
                        background: none;
                    }
                }
                li#cv-section {
                    display: none;
                }
            }

            div.cv-container {
                display: block;
                list-style: none;
                a#btn-resume {
                    cursor: pointer;
                    text-decoration: none;
                    gap: 4px;
                    list-style: none;
                    display: inline-flex;
                    align-items: center ;
                    padding: 0 1em;
                    height: 47px;
                    font-size: 14px;
                    // border: 2px solid $hover-color;
                    background: $hover-color;
                    color: $primary-color;
                    font-weight:600;
                    transition: all 0.25s;
                    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(207, 207, 207, 0.9) 0px 0px 0px 1px;
                }
                a#btn-resume:hover {
                    box-shadow: inset 130px 0 0 0 $hover-fade;
                    color: $primary-color;
                }

            }
        }
    }
}