@import '../index.scss';

.disable-scroll-behavior {
    scroll-behavior: auto !important;
}

section.project-section {
    padding-top: 1rem;
    .btn-container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .btn-back {
        padding: 0 1em;
        margin-top: 4em;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-weight: 800;
        color: $font-color;
        gap: 4px;
        font-size: 16px;
    }

    .btn-back .arrowleft {
        transform: translate(0, 0);
        transition: transform 0.3s ease;
    }

    .btn-back:hover .arrowleft {
        transform: translate(-10px, 0);
    }

    .btn-back:hover {
        color: $primary-color;
        transition: ease-in-out 0.3s;
    }
}

