
@import '../index.scss';

section.archive-section {
    div.wrapper {
        padding: 0 1em;
        div.card-project {
            text-decoration: none;
            padding-bottom: 4em;
            .head-content {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                padding-top: 7px;
                padding-bottom: 7px;
                gap: 12px;
                h1 {
                    color: $font-color;
                }
                h1:hover {
                    color: $font-headline;
                }
            }
            div.img-content {
                img {
                    width: 120px;
                }
            }
            div.content {
                p{
                    line-height: 19px;
                    font-size: 14px;
                    color: $font-color
                }
                ul {
                    padding-top: 14px;
                    display: flex;
                    gap: 6px;
                    list-style: none;
                    font-size: 11px;
                    flex-wrap: wrap;
                    li {
                        font-weight: 700;
                        padding: 9px;
                        color: $primary-color;
                        background: $badge;
                    }
                }

            }
        }
    }
}


@media screen and (min-width: 648px) {
    section.archive-section {
        div.wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 1000px) {
    section.archive-section {
        div.wrapper {
           max-width: 1000px;
           margin: 0 auto;
           display: flex;
           align-items: center;
           justify-content: space-between;
           flex-wrap: wrap;
            div.card-project {
                width: 50%;
                display: flex;
                gap: 14px;
                div.img-content {
                    display: flex;
                }
                div.content {
                    p {
                        font-size: 12px;
                        max-width: 400px;
                    }
                }
            }
        }
    }
}