@import '../index.scss';


div.project-section{
    background: $bg-color;
    div.wrapper{
        padding: 100px 1em;
        min-height: 100vh;
        
        .head-projectcontainer {
            display: flex;
            justify-content: center;
        }
        h1.head-projects{
            font-size: clamp(26px, 7vw, 32px);
            font-weight: 900;
            color: $primary-color;
            text-align: center;
            justify-content: center;

            display: flex;
            justify-content: center;
            text-align: center;
            position: relative;
        }
        h1.head-projects {
            padding-top: 4px;
            padding-bottom: 10px;
            margin-bottom: 60px;
            font-weight: 900;
            position: relative;
            display: inline-block;
        }
        h1.head-projects::before {
            display: block;
            background: #DDDDDD;
            position: absolute;
            content: "";
            width: 100%;
            bottom: 0;
            height: 4px;
            border-radius: 2px;
            
        }
        h1.head-projects::after {
            border-radius: 2px;
            display: block;
            position: absolute;
            content: "";
            width: 50px;
            bottom: 0;
            height: 4px;
            background-color: $line-color;
        }
        div.project-container{
            padding-top: 2px;
            div.card-project{
                padding-top: 90px;
                div.right{
                    figure{
                        img{
                            width: 100%;
                        }
                    }
                }
                div.left{
                    div.sub-container {
                        display: inline-flex;
                        list-style: none;
                        gap: 7px;
                        li.sub-content{
                            font-size: 14px;
                            color: #666666;
                        }
                    }
                    h1.head-content{
                        text-align: left;
                        font-size: clamp(24px, 4vh, 27px);
                        color: $primary-color;
                    }
                    p.project-description{
                        background: $bg-color;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        padding-top: 14px;
                        line-height: 20px;
                        font-size: 12px;
                        padding: 1em 1em;
                        color: $font-color;
                    }
                    ul.tech-items{
                        padding-top: 12px;
                        list-style: none;
                        gap: 7px;
                        display: flex;
                        li.tech-item{
                            font-family: $font-firacode;
                            font-weight: 700;
                            border-radius: 4px;
                            font-size: 11px;
                            color: $font-headline;
                            display: inline-block;
                            padding: 9px;
                            background: $badge;
                        }
                       
                    }
                    div.btn-section{
                        padding-top: 17px;
                        display: flex;
                        gap: 26px;
                        align-items: center;
                        .github{
                            color: $font-color;
                        }
                        .github:hover {
                            color: $primary-color;
                            transition: all;
                            transition: 0.3s;
                        }
                        a.link-visit{
                            text-decoration: none;
                            button.btn-visit{ 
                                cursor: pointer;
                                background: $bg-color;
                                border: 2px solid $primary-color;
                                padding: 1em 1em;
                                color: $font-color;
                                display: flex;
                                gap: 12px;
                                font-size: 12px;
                                text-align: center;
                                align-items: center;
                                justify-content: center;
                                font-weight:600;
                                letter-spacing: 2px;
                            }
                            button.btn-visit:hover{
                                background: $primary-color;
                                color: $bg-color;
                                transition: ease-out 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    div.project-section{
        div.wrapper{        
            margin: 0px auto;
            max-width: 1000px;
            div.project-container{
                div.card-project{
                    gap: 24px;
                }
                div.card-project:nth-child(odd){
                    display: grid;
                    grid-template-columns: 1fr 1.2fr;
                    grid-template-areas: 'left right';

                    div.right{
                        grid-area: right;
                    }
                
                    div.left{
                        grid-area: left;
                        p.project-description{
                            max-width: 530px;
                            position: absolute;
                        }
                        ul.tech-items:nth-child(even){
                            padding-top: 137px;
                        }
                    }
                }
                div.card-project:nth-child(even){
                    position: relative;
                    display: grid;
                    grid-template-columns: 1.2fr 1fr;
                    grid-template-areas: 'left right';

                    div.right{
                        grid-area: left;
                    }
                
                    div.left{
                        grid-area: right;
                        padding-right: 1em;
                        div.sub-container{
                            li.sub-content{
                                justify-content: right;
                                display: flex;
                                text-align: right;
                            }
                        }
                        h1.head-content{
                            text-align: right;
                        }
                        p.project-description{
                            max-width: 490px;
                            position: absolute;
                            right: 1em;
                        }
                        ul.tech-items{
                            padding-top: 137px;
                            li.tech-item{
                               text-align: right;  
                            }
                        }
                        div.btn-section{
                            position: absolute;
                            right: 1em;
                        }
                    }
                }
             
            }
        }
    }
}