@import '../index.scss';

section.project-section {
    padding-top: 1rem;
    .btn-container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .btn-back {
        padding: 0 1em;
        margin-top: 4em;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 800;
        color: $font-color;
        gap: 4px;
        font-size: 16px;
    }
    .btn-back:hover {
        color: $primary-color;
        transition: ease-in-out 0.3s;
    }
}

