*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

$font-color: #3D155F;
$font-headline: #5928E5;
$font-white: #FFFFFF;
$primary-color: #5928E5;
$line-color: #F7D046;
$hover-color: #FFD9D9;
$hover-fade: #FFEDED;
$bg-color: #FFFFFF;
$badge: #EEE8FF;
$bg1-color: #F9F9F9;
$bg2-color: #5928E5;
$bg3-color: #F9F9F9F9;
$footer-color: #3D155F;
$font-firacode: 'Fira Code', monospace;

